DEBUG=true
BOT_TOKEN=
POSTGRES_PASSWORD=password
REDIS_PASSWORD=password

POSTGRES_URL=postgresql+asyncpg://postgres:password@localhost:5432/postgres
REDIS_URL=redis://:password@localhost:6379/0

PGADMIN_DEFAULT_EMAIL=postgres@gmail.com
PGADMIN_DEFAULT_PASSWORD=password
